.*
*.a
*.o
*.Po
*.obj
*.dvi
*.gch
*.gcda
*.gcno
*.lib
*.log
*.lpro
*.ncb
*.tex
*.svg
*.svgz
*.aux
*.orig
*.toc
*.tar.*
*.tgz
*.trs
*.zip
*.swp
*.exe
*.tlog
*.pdb
*.png
*.pdf
*.tmp
*.lastbuildstate
*.opensdf
*.vcxproj.user
callgrind.*
cmdline.*
Makefile
Makefile.in
autom4te.*
dvisvgm
aclocal.*
missing
cov-int
lcov
/config.*
doc/buildman
doc/dvisvgm.txt
doc/dvisvgm.xml
doc/dvisvgm.html
doc/dvisvgm.1
doxy
backup/*
Win32
x64
Debug
Release
vc/freetype
vc/zlib*
vc/*.s*
vc/_*
vc/Upgrade*
configure
depcomp
install-sh
src/samples
src/psdefs.psc
src/CommandLine.*
tests/*Test
svg2vml
nbproject
stamp-h1
a.out
test*.*
