.*
*.a
*.la
*.o
*.lo
*.Po
*.pyc
*.obj
*.dvi
*.gch
*.gcda
*.gcno
*.lib
*.log
*.lpro
*.ncb
*.tex
*.svg
*.svgz
*.aux
*.orig
*.toc
*.tar.*
*.tgz
*.trs
*.zip
*.swp
*.exe
*.tlog
*.pdb
*.png
*.pdf
*.tmp
*.lastbuildstate
*.opensdf
*.vcxproj.user
*.patch
transfer*
build
callgrind.*
cmdline.*
Makefile
Makefile.in
autom4te.*
dvisvgm
aclocal.*
ar-lib
compile
libtool
ltmain.sh
missing
cov-int
lcov
/config.*
doc/buildman
doc/dvisvgm.txt
doc/dvisvgm*.xml
doc/dvisvgm.html
doc/dvisvgm.1
m4/libtool.m4
m4/lt*.m4
doxy
backup/*
Win32
x64
Debug
Release
vc/miktex-com/dlldata.c
vc/*.s*
vc/_*
vc/Upgrade*
configure
depcomp
install-sh
src/samples
src/psdefs.psc
src/CommandLine.*
test-driver
tests/hashcheck*
tests/*Test
svg2vml
nbproject
stamp-h1
a.out
test*.*
