body {
	margin : 0;
	padding: 0;
	font-family     : sans-serif,helvetica;
}

.header {
	font-size       : 150%;
	vertical-align  : middle;
	color           : #eeeeee;
	background-color: #9090ff;
}

.footer {
	font-size       : 150%;
	vertical-align  : middle;
	color           : #eeeeee;
	background-color: #9090ff;
}

.dvisvgm {
	font-style : italic;
	font-weight: bold;
}

.navig {
	text-align    : right;
	vertical-align: top;
	height: 50;
}

.navig a {
	text-decoration:none;
}


.main {
	border: 1px solid #b0b0b0;
	background-color: #ffffe0;
	padding:10;
}

.main h1 {
	font-size: 130%;
}

.itemhead {
	color: #4040ff;
}
